<div style="display: flex; flex-wrap:wrap; justify-content: center; padding: 200px; align-items:flex-start">
  <form method="POST" action="/login" style="margin: 0 40px;">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" style="margin-top: 20px;" type="submit">Sign in</button>
    
  </form>
  <form method="POST" action="/signUp" style="margin: 0 40px;">
    <h1 class="h3 mb-3 fw-normal">or registration</h1>
  <div class="form-floating">
      <input name="login" type="text" class="form-control" id="floatinglogin" placeholder="Login" required>
      <label for="floatinglogin">Login</label>
    </div>
    <div class="form-floating">
      <input name="email" type="email" class="form-control" id="floatingInput1" placeholder="name@example.com" required>
      <label for="floatingInput1">Email address</label>
    </div>
    <div class="form-floating">
      <input name="password" type="password" class="form-control" id="floatingPassword1" placeholder="Password" required>
      <label for="floatingPassword1">Password</label>
    </div>
    <button  style="margin-top: 20px;" type="submit">Registration</button>
  </form>
</div>
{{!-- class="w-100 btn btn-lg btn-primary" --}}

