.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* background-color: rgba(86, 61, 124, .15); */
  border: 1px solid rgba(86, 61, 124, .2);
  text-align: center;
}

table{
  border: 1px solid black;
  background-color: #60B9CE;
  /* background-color: rgb(185, 92, 30); */
}
section{
  /* margin: 50px 200px; */
  /* margin-right: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
h4{
  margin-left: -650px;
}

.form-control{
width: 300px;
margin-top: 10px;
}

.button{
  margin: 80px;
  margin-left: 300px;
}

.divDay{
  /* border: 1px solid black;  */
  display:flex;  
  flex-direction:column; 
  align-items:center;
  margin-left: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(146, 174, 185, 0.507);
}

p{
  color: #FFB873;
  text-align: center; 
  text-decoration: underline;
}
